@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{ 
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
  
}

body, html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./assets/background-img.jpg") no-repeat center center;
  background-size: cover;
}


.quizApp{
  background-color: aliceblue;
  text-align: center;
  padding: 20px;
  margin: 10px;
  width: 450px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px rgb(59, 59, 59);
}

.Quiz{
  padding: 10px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.Quiz>:nth-child(1){
  color: #3498db;
  font-weight: 600;
}

.Quiz .options{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.Quiz .options button{
  padding: 10px;
  width: 100px;
  border-radius: 6px;
  border: none;
  background-color: #3498db;
  color: aliceblue;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Quiz .options button:hover{
  filter: brightness(1.1);
}

.Quiz .timer{
  margin-top: 15px;
  font-size: small;
}

.Quiz .timer span{
  font-weight: 600;
}

.score-card{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.score-card p{
  font-weight: 600;
}

.score-card button{
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  background-color: tomato;
  color: aliceblue;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.score-card button:hover{
  filter: brightness(1.2);
}

@media (min-width: 200px) and (max-width: 430px) {

      .quizApp{
        margin: 10px;
      }

      .Quiz .options{
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      .Quiz .options button{
        width: 70%;
      }

}
